@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #2b59ff;
  border-radius: 100px;
}

input {
  all: unset;
}
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

/* GENERAL */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

/* BUTTONS */
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transition: none !important;
  transform: none !important;
}
.btn {
  @apply flex flex-row relative justify-center items-center outline-none rounded-full hover:scale-105 transition-all w-fit;
}

.btn-primary {
  @apply bg-primary-blue text-white;
}

.btn-secondary {
  @apply bg-white text-primary-blue;
}

.btn-small {
  @apply py-2 px-4;
}
.btn-medium {
  @apply py-3 px-6;
}
.btn-large {
  @apply py-4 px-8;
}

/* TEXT */
.header-1 {
  @apply xl:text-6xl text-5xl font-bold;
}

.header-2 {
  @apply xl:text-3xl text-2xl;
}

a:hover {
  text-decoration: underline;
}
